/* @font-face */
@font-face {
  font-family: "Roboto", cursive;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Digital-7", cursive;
  src: url(../fonts/digital-7/digital-7.ttf);
}
