@media only screen and (max-width: 1199.98px) {
  .site-main .portfolio-detail-area .project-slick-dev.slick__projectV {
    display: none;
  }
  .site-main .portfolio-detail-area .project-slick-dev.slick_ctH {
    display: block;
  }
}

@media only screen and (max-width: 768.98px) {
  .text-title {
    font: normal bold 25px/50px var(--roboto);
  }
  p.para {
    font: normal 400 15px/30px var(--roboto);
  }
  .site-main .experiences-area .timeline {
    padding-left: 0;
  }
  .site-main .experiences-area .timeline::before {
    content: none;
  }
  .site-main .experiences-area .timeline .timeline-item::before,
  .site-main .experiences-area .timeline .timeline-item:last-child::after {
    content: none;
  }
  .site-main .experiences-area .timeline .timeline-item {
    margin: 2rem 0;
  }
  .site-main .portfolio-detail-area .project-div .portfolio-info .para {
    font-size: 14px;
  }
}
@media only screen and (max-width: 440.98px) {
  .site-main .about-me-area .about-me-left .profile-img > img,
  .header-area .user-box img {
    width: 200px;
    height: 200px;
  }
  .site-main
    .portfolio-detail-area
    .project-div
    .slick__carousel
    .imgCarousel_content
    img {
    height: 50vh;
  }
}
