/* @import fonts */
@import url(./fonts.css);

/* @import variables css*/
@import url(./partials/_variables.css);

/* @import global css */
@import url(./partials/_global.css);

/* key frame animation css */
@import url(./partials/_keyframe.css);

/* ====== start header css ======= */
.header-area {
  height: 100vh;
  background: url(../img/banner/banner-image-dark.svg) no-repeat 0px 50%;
  background-color: var(--default-color);
  background-attachment: fixed;
}
.header-area .user-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-area .user-box img {
  border-radius: 50%;
  height: 37vh;
  width: 37vh;
  border: 2px solid var(--text-default);
  box-shadow: var(--box-shadow-bg-dark);
}
.header-area .scroll-btn {
  bottom: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--secondary-color);
  padding: 10px 10px 20px;
  border-radius: 30px;
}
.header-area .scroll-btn .scroll-bar {
  animation: mover 1s infinite alternate;
}
.header-area .scroll-btn .scroll-bar span {
  border: 2px solid var(--secondary-color);
  font-size: 10px;
  border-radius: 30px;
}

/* ====== end header css ======= */

/* ====== start navbar css ======= */
.site-main .nav-bar-area {
  top: 0;
  position: sticky;
  z-index: 2;
}
.site-main .nav-bar-area .navbar {
  background-color: #202a3e;
  box-shadow: var(--box-shadow-bg-dark);
}
.site-main .nav-bar-area .navbar .navbar-brand {
  padding: 0;
}
.site-main .nav-bar-area .navbar .navbar-brand > img {
  width: 12vh;
}
.site-main .nav-bar-area .navbar .navbar-nav {
  float: right;
  text-align: right;
  margin-right: 8px;
}
.site-main .nav-bar-area .navbar .navbar-nav > button {
  color: whitesmoke;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: right;
}
.site-main .nav-bar-area .navbar .navbar-nav > button:hover {
  color: var(--secondary-color);
}
.site-main .nav-bar-area .navbar .navbar-nav > button.active {
  color: var(--secondary-color);
}
/* ====== end navbar css ======= */

/* ====== about me css ======= */

.site-main .about-me-area {
  padding-top: 8rem;
  padding-bottom: 4rem;
  background: url(../img/banner/banner-image.svg) no-repeat -191px 25px;
}
.site-main .about-me-area .about-me-left .profile-img > img {
  border-radius: 50%;
  box-shadow: var(--box-shadow-bg-light);
  height: 300px;
  width: 300px;
}
.site-main .about-me-area .about-me-left .social h5 {
  font: normal bold 36px/60px var(--digital);
}
.site-main .about-me-area .about-me-left .social div {
  display: inline-block;
}
.site-main .about-me-area .about-me-left .social div a > i {
  color: #000;
}
.site-main .about-me-area .about-me-left .social div a:hover > i {
  color: var(--secondary-color);
}
.site-main .about-me-area .about-me-content {
  display: flex;
  align-items: center;
}
.site-main .about-me-area .about-me-content .skills-bar .skill {
  margin-bottom: 1rem;
}
/* ====== end about me css ======= */

/* ====== my info css ======= */

.site-main .my-info-area {
  background: url(../img/banner/banner-image.svg) no-repeat 40rem 10rem;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

/* ====== end my info css ======= */

/* ====== skills area css ======= */
.site-main .skill-area {
  background: url(../img/banner/banner-image.svg) no-repeat 0 0;
  padding-top: 8rem;
  padding-bottom: 12rem;
}
.site-main .skill-area .skill-bar .skill .progress-area {
  align-items: center;
}

/* ====== end skills area css ======= */

/* ====== start experices css ======= */

.site-main .experiences-area {
  padding-top: 8rem;
  padding-bottom: 4rem;
  background: url(../img/banner/banner-image-dark.svg) -75px 0%;
  background-color: var(--default-color);
}
.site-main .experiences-area .text-title {
  color: var(--secondary-color);
}
.site-main .experiences-area .timeline {
  list-style-type: none;
  position: relative;
}
.site-main .experiences-area .timeline::before {
  content: "";
  background: var(--secondary-color);
  display: inline-block;
  position: absolute;
  left: -10px;
  width: 2px;
  height: 100%;
  top: 14px;
  z-index: 1;
}
.site-main .experiences-area .timeline .timeline-item {
  margin: 2rem;
  margin-right: 0;
  background: whitesmoke;
  position: relative;
  border-radius: 10px;
}
.site-main .experiences-area .timeline .timeline-item > h4 {
  background-color: var(--secondary-color);
  padding: 5px 0 5px 20px;
  color: var(--default-color);
  font-size: 1rem;
  font: normal bold 1rem/40px var(--roboto);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.site-main .experiences-area .timeline .timeline-item h4 > span {
  color: var(--text-secondary);
  font-weight: bold;
}
.site-main .experiences-area .timeline .timeline-item .para {
  font-size: 14px;
  padding: 1rem;
}
.site-main .experiences-area .timeline .timeline-item::before {
  content: "";
  background: var(--default-color);
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--secondary-color);
  left: -52px;
  width: 20px;
  top: 14px;
  height: 20px;
  z-index: 1;
}
.site-main .experiences-area .timeline .timeline-item:last-child::after {
  content: "";
  background: var(--default-color);
  display: inline-block;
  position: absolute;
  left: -46px;
  width: 8px;
  top: 34px;
  bottom: -15px;
  z-index: 1;
}
/* ====== end experices css ======= */

/* ====== start portfolio css ======= */

.site-main .portfolio-area {
  padding-top: 8rem;
  padding-bottom: 4rem;
  background: url(../img/banner/banner-image.svg) 0% 0%;
  background-color: whitesmoke;
}
.site-main .portfolio-area .portfolio-div .button-group button:hover,
.site-main .portfolio-area .portfolio-div .button-group button.active {
  color: var(--secondary-color);
}
.site-main .portfolio-area .portfolio-div .grid .element-item .our-project {
  margin-bottom: 3rem;
}
.site-main
  .portfolio-area
  .portfolio-div
  .grid
  .element-item
  .our-project
  .img
  img {
  border: 20px solid var(--default-color);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.site-main
  .portfolio-area
  .portfolio-div
  .grid
  .element-item
  .our-project:hover {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
  cursor: pointer;
}
.site-main
  .portfolio-area
  .portfolio-div
  .grid
  .element-item
  .our-project
  .img {
  box-shadow: var(--box-shadow-bg-light);
}

.site-main
  .portfolio-area
  .portfolio-div
  .grid
  .element-item
  .our-project
  .title {
  background: url(../img/banner/banner-image-dark.svg) no-repeat 5rem -4rem;
  background-color: var(--default-color);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0.5rem 1rem 0;
}
.site-main
  .portfolio-area
  .portfolio-div
  .grid
  .element-item
  .our-project
  .title
  > h4 {
  color: whitesmoke;
  font: normal 400 18px/20px var(--roboto);
}
.site-main
  .portfolio-area
  .portfolio-div
  .grid
  .element-item
  .our-project
  .title
  > p {
  color: var(--text-default);
}
/* ====== end portfolio css ======= */

/* ====== start references css ======= */
.site-main .references-area {
  padding-top: 4rem;
  padding-bottom: 8rem;
  background: url(../img/banner/banner-image.svg);
  background-color: whitesmoke;
}
.site-main .references-area .carousel_references .references {
  display: flex;
}
.site-main
  .references-area
  .carousel_references
  .references
  .references-avatar
  img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.site-main
  .references-area
  .carousel_references
  .references
  .references-content {
  text-align: justify;
}
/* ====== end references css ======= */

/* ====== contact me css ======= */
.site-main .contact-me-area {
  padding-top: 8rem;
  padding-bottom: 4rem;
  background: url(../img/banner/banner-image-dark.svg) no-repeat -1rem 14rem;
  background-color: var(--default-color);
}
.site-main .contact-me-area .contact-me-title h4,
.site-main .contact-me-area .contact-me-title p.para {
  color: whitesmoke;
  margin-bottom: 1.5rem;
}
.site-main .contact-me-area .contact-me-item i {
  color: var(--text-default);
}
.site-main .contact-me-area .contact-me-item p a {
  color: whitesmoke;
}
.site-main .contact-me-area .site-buttons .secondary-button {
  background: var(--secondary-color);
}
.site-main .contact-me-area .site-buttons .secondary-button:hover {
  box-shadow: var(--shadow-color) !important;
  background: var(--default-color);
  color: var(--text-default);
}
.site-main .contact-me-area .site-buttons .primary-button:hover {
  background: var(--secondary-color);
}
/* ====== end contact me css ======= */

/* ====== start footer area css ======= */

.footer-area {
  padding: 4rem;
  background: url(../img/bg-footer.png) no-repeat;
  background-color: var(--default-color);
}
.footer-area .social h5 {
  color: whitesmoke;
}
.footer-area .social a i {
  color: var(--default-color);
}
.footer-area .social a:hover > i {
  color: var(--secondary-color);
}
/* ====== end footer area css ======= */
