html,
body {
  scroll-behavior: smooth;
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.4em;
  letter-spacing: 0.08em;
  color: var(--secondary-color);
  font: normal 400 16px/20px var(--roboto);
}
/* css variables */
:root {
  --gradient-color-1: linear-gradient(
    90deg,
    #0d3546 0%,
    #11bbbc 80%,
    #11bbbc 100%
  );
  --gradient-color-2: linear-gradient(
    90deg,
    #28334a 0%,
    #f65058 80%,
    transparent 100%
  );
  --box-shadow: 0px 10px 30px rgb(17, 187, 188, 0.3);
  --primary-color: #11bbbc;
  --secondary-color: #a0c5c8;
  --default-color: #0d3546;
  --bg-color: #eaeaed;
  --border-color: #11bbbc;
}
.btn-primary {
  background: transparent;
  border: 2px solid var(--border-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
}
button:focus,
button:active,
button:hover,
.btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: var(--primary-color);
  color: var(--bg-color);
  border: 2px solid var(--border-color);
}
.wapper {
  height: 100vh;
  position: relative;
  background: url(../img/banner-image-dark.png) no-repeat 50% 0;
  background-color: var(--default-color);
}
.wapper .quiz-area {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wapper .quiz-area .title {
  /* color: var(--primary-color); */
  font-size: 34px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
  background: var(--border-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 9px 54px var(--border-color);
  text-transform: uppercase;
}
.wapper .point-area {
  background: var(--default-color);
  height: auto;
  width: 90vh;
  border: 1.5px solid var(--border-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  overflow-y: auto;
  padding: 15px;
  margin: 5px 0;
}
.wapper .quiz-area .quiz-box {
  background: var(--default-color);
  height: 50vh;
  width: 90vh;
  border: 2px solid var(--border-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  overflow-y: auto;
  padding: 15px;
}
.quiz-box::-webkit-scrollbar {
  width: 3px;
  border-radius: 20px;
}
.quiz-box::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;
}
.quiz-box::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.quiz-box::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 20px;
  margin: 15px 0;
}

/* Handle on hover */
.quiz-box::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}
input[type="radio"] {
  margin-right: 20px;
}
input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: var(--default-color);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

input[type="radio"]:checked:after {
  width: 25px;
  height: 15px;
  border-radius: 15px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: #11bbbc;
  box-shadow: 0px 10px 30px rgb(17, 187, 188);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid var(--default-color);
  transition: all 0.1s ease-in;
}
small.text-muted {
  color: var(--secondary-color);
}
.quest-item .text-quest {
  font-size: 16px;
  margin-bottom: 10px;
}
.quest-item .group-anwsers {
  margin: 10px 0;
}
.quest-item .group-anwsers .answer_item {
  color: var(--bg-color);
  padding: 5px 20px;
}

input[type="text"]:active,
input[type="text"]:focus {
  box-shadow: var(--box-shadow);
  outline: 0px !important;
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: #11bbbc;
}
input[type="text"] {
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: #11bbbc;
}
.quest-item {
  padding: 20px 0;
  margin: 5px 0;
  border-bottom: 1px groove #11bbbc;
  /* border-style: groove; */
}
.quest-item:last-child {
  border-bottom: none;
}
.text-title {
  font-size: 80%;
  color: var(--bg-color);
}
