/*===== start portfolio detail css =======*/

.site-main .portfolio-detail-area {
  min-height: 100vh;
  height: auto;
  background: url(../../img/banner/banner-image.svg);
  padding: 5rem 0;
}
.site-main .portfolio-detail-area .project-div .name-portfolio {
  font-weight: 700;
}
.site-main .portfolio-detail-area .project-div .slick__carousel {
  margin-bottom: 0;
}
.site-main .portfolio-detail-area .project-div .slick__carousel .slick-dots {
  opacity: 0;
}

.site-main
  .portfolio-detail-area
  .project-div
  .slick__carousel:hover
  > .slick-dots {
  transition: all 0.5s;
  opacity: 1;
  transform: translateY(-50px);
}
.site-main .portfolio-detail-area .project-div .slick__carousel .slick-list {
  border: 20px solid var(--default-color);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.site-main
  .portfolio-detail-area
  .project-div
  .slick__carousel
  .slick-dots
  li
  button::before {
  font-size: 15px;
}
.site-main
  .portfolio-detail-area
  .project-div
  .slick__carousel
  .imgCarousel_content
  img {
  height: 73vh;
  width: 100%;
}
.site-main .portfolio-detail-area .project-div .portfolio-info {
  padding: 20px;
  border: 10px solid var(--default-color);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: url(../../img/banner/banner-image-dark.svg) no-repeat;
  background-color: var(--default-color);
  color: whitesmoke;
}
.site-main .portfolio-detail-area .project-div .portfolio-info .para {
  color: whitesmoke;
  text-align: justify;
}

.site-main .portfolio-detail-area .project-div .portfolio-info a {
  color: var(--secondary-color);
  font-weight: 700;
}
.site-main .portfolio-detail-area .project-div .portfolio-info b {
  margin-bottom: 5px;
}

.site-main .portfolio-detail-area .project-slick-dev .imgCarousel_content {
  cursor: pointer;
  width: 25vh;
  margin: 5px;
  position: relative;
}
.site-main .portfolio-detail-area .project-slick-dev .imgCarousel_content img {
  width: 100%;
  height: 25vh;
  margin: auto;
  border-radius: 10px;
}
.site-main
  .portfolio-detail-area
  .project-slick-dev
  .imgCarousel_content
  .project_caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #28334aa8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.6s ease;
}
.site-main
  .portfolio-detail-area
  .project-slick-dev
  .imgCarousel_content:hover
  .project_caption {
  opacity: 1;
}
.site-main
  .portfolio-detail-area
  .project-slick-dev
  .imgCarousel_content
  .project_caption
  .btn-view {
  border: 1px solid var(--secondary-color);
  color: var(--text-default);
}
.site-main
  .portfolio-detail-area
  .project-slick-dev
  .imgCarousel_content
  .project_caption
  .btn-view:hover {
  background: var(--secondary-color);
  color: var(--default-color);
}

.site-main .portfolio-detail-area .project-slick-dev.slick_ctH {
  display: none;
}
/*===== end portfolio detail css =======*/
