.text-title {
  font: normal bold 40px/72px var(--roboto);
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
  text-transform: capitalize;
}
.text-normal {
  font: normal 400 16px/30px var(--roboto);
}
.weight-700 {
  font-weight: 700 !important;
}
.text-subtitle {
  font: normal 400 18px/40px var(--roboto);
  letter-spacing: 2px;
}
.text-capi {
  text-transform: capitalize;
}
.text-primary {
  color: var(--text-primary) !important;
}
.text-secondary {
  color: var(--text-secondary) !important;
}
.text-default {
  color: whitesmoke !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}

.para {
  font: normal 400 17px/36px var(--roboto);
  color: var(--text-primary);
}
p.para {
  font: normal 400 17px/36px var(--roboto);
  color: var(--text-primary);
}
/* Buttons */
.button {
  padding: 0.8rem 2.2rem;
  font: normal 500 16px/20px var(--roboto);
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button.primary-button {
  background-clip: padding-box;
  transition: background 0.3s ease;
  border: 1px solid transparent;
  background: var(--default-color);
  color: var(--text-default);
  box-shadow: var(--box-shadow-bg-light);
}
.button.primary-button:hover {
  background: white;
  color: var(--default-color);

  box-shadow: var(--box-shadow-bg-light) !important;
}
.button.primary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: var(--gradient-color);
  content: "";
  z-index: -1;
  border-radius: 4px;
}
.button.secondary-button {
  background: transparent;
  background-clip: padding-box;
  transition: background 0.3s ease;
  color: var(--default-color);
}
.button.secondary-button:hover {
  background: var(--default-color);
  color: var(--text-default);
  box-shadow: var(--box-shadow);
}
button:focus,
button:active,
button:hover,
.btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}
.social h5 {
  font: normal 500 23px/30px var(--roboto);
}
.social a > i {
  font-size: 22px;
  padding: 1.2rem;
  color: var(--border-color);
}
.social a:hover > i {
  color: var(--primary-color);
}

.progress {
  border-radius: 16px !important;
  margin-bottom: 10px;
}
.progress .progress-bar {
  border-radius: 16px;
  background-color: var(--default-color);
  color: var(--secondary-color);
  font: normal 500 14px/17px var(--roboto);
}
.img-fluid {
  width: 100%;
}

.slick-initialized .slick-slide {
  outline: 0px !important;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-track {
  width: 100%;
}
