html,
body {
  scroll-behavior: smooth;
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.4em;
  letter-spacing: 0.08em;
  font-family: "Roboto", cursive;
  color: #28334a;
  font: normal 400 16px/20px var(--roboto);
}

/* css variables */

:root {
  --primary-color: #f65058;
  --secondary-color: #fbde44;
  --default-color: #28334a;
  --text-primary: #28334a;
  --text-secondary: #f65058;
  --text-default: #fbde44;
  --gradient-color-1: linear-gradient(
    90deg,
    #28334a 0%,
    #fbde44 80%,
    transparent 100%
  );
  --gradient-color-2: linear-gradient(
    90deg,
    #28334a 0%,
    #f65058 80%,
    transparent 100%
  );
  --shadow-color: 0px 10px 30px rgba(251, 222, 68, 0.3);
  --box-shadow-bg-dark: 0px 10px 30px rgba(251, 222, 68, 0.205);
  --box-shadow-bg-light: 0px 10px 30px rgba(57, 56, 61, 0.205);
  --roboto: "Roboto", cursive;
  --digital: "Digital-7", cursive;
}
